body,html{
    height:100%;
    background-color: lightgray;
}

.openVent {
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:5px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:35px;
	padding:24px 51px;
    text-decoration:none;
    margin-left: auto;
}
.openVent:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.openVent:active {
	position:relative;
	top:1px;
}

.closeVent {
	background:linear-gradient(to bottom, #f72eb1 5%, #fa08f2 100%);
	background-color:#f72eb1;
	border-radius:5px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:35px;
	padding:24px 51px;
	text-decoration:none;
}
.closeVent:hover {
	background:linear-gradient(to bottom, #fa08f2 5%, #f72eb1 100%);
	background-color:#fa08f2;
}
.closeVent:active {
	position:relative;
	top:1px;
}

        

.resetVent {
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:5px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:35px;
	padding:24px 51px;
	text-decoration:none;
}
.resetVent:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.resetVent:active {
	position:relative;
	top:1px;
}

        